$pomegranate: rgba(192, 57, 43,1.0);
$lightgrey: rgba(236, 240, 241,1.0);
$mediumgrey:rgba(189, 195, 199,1.0);
$darkbluegrey: rgba(52, 73, 94,1.0);
$darkgrey: rgba(45, 52, 54,1.0);
$mint: rgba(0, 184, 148,1.0);

header {
  background-color: $pomegranate;
  height:90vh;
  min-height: 600px;
  background-image: url(assets/gabePangilinanGreenTree.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}




header, form {

  text-align: center;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(163, 197, 249);
}
