@import "./partials/setup";

//VARIABLES

$red: rgb(159, 29, 14);
$pomegranate: rgba(192, 57, 43, 1);
$lightgrey: rgba(236, 240, 241, 1);
$mediumgrey: rgba(189, 195, 199, 1);
$darkergrey: rgba(141, 148, 152, 1);
$darkbluegrey: rgba(52, 73, 94, 1);
$darkgrey: rgba(45, 52, 54, 1);
$mint: rgba(0, 184, 148, 0.5);
$green: rgba(180, 205, 19, 0.831);

$basic: "karla", sans-serif;
$header: "raleway", serif;

//GENERAL STYLES

html {
	font-size: 62.5%;
	background: white;
}

body {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

img {
	width: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}

h1,
h2 {
	font-family: $header;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	letter-spacing: 0.3rem;
}

h1 {
	border: 8px solid $green;
	// background: $green;
	// margin-top: 100px;
	padding: 30px;
	font-size: 7rem;

	@media (max-width: 800px) {
		font-size: 5.5rem;
	}

	@media (max-width: 664px) {
		font-size: 5rem;
	}

	@media (max-width: 420px) {
		font-size: 4rem;
		padding: 20px;
	}
}

h2 {
	font-size: 4rem;
	padding: 40px;
	line-height: 5rem;
	@media (max-width: 704px) {
		font-size: 3rem;
		line-height: 4rem;
	}
	@media (max-width: 575px) {
		font-size: 2.5rem;
		line-height: 3rem;
	}
}

h3,
p,
input,
label,
button,
.autocomplete {
	font-family: $basic;
	font-size: 2.5rem;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	letter-spacing: 0.1rem;

	@media (max-width: 452px) {
		font-size: 2rem;
		line-height: 3rem;
	}
}

h3 {
	color: black;
	margin-bottom: 30px;
	line-height: 3.4rem;
	font-weight: bold;
	// background-color: rgba(0,0,0,0.4);
	background-color: $green;
	text-shadow: none;
	padding: 20px;

	@media (max-width: 1150px) {
		margin-bottom: 20px;
	}
}

p {
	line-height: 3.4rem;
}

header,
form,
footer {
	text-align: center;
}

input,
button {
	border: 2px solid transparent;
	&:focus {
		border: 4px dashed $darkbluegrey;
	}
}

//HEADER STYLES

header {
	padding-top: 7vh;
	min-height: 100vh;
	background-image: url(assets/michalParzuchowskiGrass.jpg);
	background-size: cover;
	color: white;
}

//FORM STYLES

label,
button,
input {
	flex-grow: 1;

	@media (max-width: 1150px) {
		display: block;
	}
}

button,
input {
	outline: none;
	text-shadow: none;
	padding: 10px;
	font-weight: 700;
	@media (max-width: 1150px) {
		width: 100%;
		// margin: 0 auto;
	}
}

label {
	color: black;
	background-color: $green;
	border: 2px solid $green;
	text-shadow: none;
	padding: 10px;
	padding-left: 15px;
	font-weight: 700;
	@media (max-width: 1150px) {
		width: 100%;
	}
}

button {
	padding: 10px 15px;
	background-color: $mediumgrey;
	margin-left: 20px;

	&:hover {
		background-color: $green;
	}

	@media (max-width: 1150px) {
		margin-top: 20px;
	}
}

.formAndButton {
	display: flex;
	width: 100%;
	margin: 0 auto;
	justify-content: space-between;

	@media (max-width: 1150px) {
		flex-direction: column;
		width: 100%;
	}
}

.autocomplete {
	padding: 4px 0;
	text-shadow: none;
	color: $darkgrey;
	font-weight: 700;
	// width: 100%;
}

.formEntry {
	background-color: $green;
	padding: 30px;
}

.response {
	margin-top: 10px;
	padding-top: 10px;
	// display: flex;
	// flex-direction: row-reverse;
	width: 90%;
	padding: 15px;
	margin: 15px auto;
	position: relative;
	right: unset;
	// text-align: left;
}

.response .offScreen {
	right: unset;
}

.response p {
	color: $lightgrey;
	// text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	font-weight: 700;
	padding: 20px;
	// background-color: rgba(0,0,0,0.6);
	background-color: rgba(30, 55, 37, 0.797);
	margin-bottom: 40px;
}

.responseImage {
	padding-right: 30px;
}

.response img {
	height: 120px;
}

button.searchAgain {
	margin-bottom: 60px;
}

form {
	position: relative;
	z-index: 2;
}

.modal {
	background-color: darkgrey;
	// z-index: 3;
}

//FOOTER STYLES

footer p {
	font-size: 1.8rem;
	text-shadow: none;
	padding: 0;
	color: $lightgrey;
}

footer {
	background-color: black;
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	z-index: 20;
}
